@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #BFA2DB;
    --secondary-color-1: #F3F1F5;
    --secondary-color-2: #F0D9FF;
    --secondary-color-3: #7F7C82;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: var(--secondary-color-1);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background-color: var(--main-color);
    padding: 6px 14px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar ul{
    margin-top: 50px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    border-radius: 12px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.4s ease;
    padding: 0 10px;
    margin-top: 10px;
}

.sidebar ul li a:hover{
    color: var(--main-color);
    background-color: var(--secondary-color-1);
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .logout{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .logout #log-out{
    position: absolute;
    left: 80%;
    bottom: 15px;
    transform:  translateX(-60%) rotate(-180deg);
    min-width: 20px;
    font-size: 40px;
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
    color: #fff;
}

.sidebar .logout #log-out:hover{
    color: var(--main-color);
    background-color: var(--secondary-color-1);
}


