@charset "ISO-8859-1";

.users-form-container form  #nit{
    margin-left: 170px;
}

.users-form-container form  #nombre{
    margin-left: 42px;
}

.users-form-container form #telefono{
    margin-left: 65px;
}

.users-form-container form  #direccion{
    margin-left: 125px;
}