@charset "ISO-8859-1";


label{
	font-weight: 900;
}

.venta-container{
	margin-left: 30vw;
	padding-top: 50px;
}

.informacion-cliente-container{
	margin-left: 50px;
}

.crud-productos-container{
	margin-top: 50px;
	margin-left: 100px;
}


.tittles-container{
	display: flex;
	text-align: center;
	font-weight: 900;
}

.tittles-container .t-1{
	margin-left: 40px;
}

.tittles-container .t-2{
	margin-left: 170px;
}

.tittles-container .t-3{
	margin-left: 60px;
}

.tittles-container .t-4{
	margin-left: 75px;
}

.input-form{
	width: 190px;
	margin-left: 0px;
	margin-right: 0px;
    padding: 2px 0;
}


.button-form{
    width: 100px;
}

.crud-productos-container .productos-container .crud-productos .cantidadProducto{
	margin-left: 20px;
	margin-right: 20px;
	width: 50px;
}

.totales-container{
	margin-left: 190px;
}

.totales-container  .formulario-envio #form-envio {
	padding-top: 30px;
	display: grid;
	grid-template-columns: 200px 200px 200px;
}

.totales-container  .formulario-envio #form-envio .totales .input-form{
	display: block;
	margin-top: 20px;
}

.totales-container  .formulario-envio #form-envio .labels-envio label{
	display: block;
	margin-top: 20px;
}

.totales-container  .formulario-envio #form-envio .envio{
	padding-top: 20px;
}


.totales-container  .formulario-envio #form-envio .envio .button-form{
	padding: 10px;
}

.error-container{
	color: red;
	text-align: center;
	margin-top: 30px;
	margin-left: -300px;
}

@media screen and (max-width: 1400px) {

	.venta-container{
		margin-left: 230px;
	}

	.error-container{
		margin-left: 0
	}
}