@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #BFA2DB;
    --secondary-color-1: #F3F1F5;
    --secondary-color-2: #F0D9FF;
    --secondary-color-3: #7F7C82;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--secondary-color-1);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background-color: var(--main-color);
    padding: 6px 14px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar ul{
    margin-top: 50px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    border-radius: 12px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.4s ease;
    padding: 0 10px;
    margin-top: 10px;
}

.sidebar ul li a:hover{
    color: var(--main-color);
    background-color: var(--secondary-color-1);
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .logout{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .logout #log-out{
    position: absolute;
    left: 80%;
    bottom: 15px;
    transform:  translateX(-60%) rotate(-180deg);
    min-width: 20px;
    font-size: 40px;
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
}

.sidebar .logout #log-out:hover{
    color: var(--main-color);
    background-color: var(--secondary-color-1);
}

/*usuarios*/

.crud-container{
    position: relative;
    margin-left: 230px;
}
.crud{
    transition: opacity 0.2s ease-in-out;
}

.users,.clients{
    position: absolute;
    opacity: 0;
}
.active{
    opacity: 1;
}

.users-form-container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.users-form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 900px;
    margin: 10%;
}


.users-form-container .input-form{
    width: 220px;
    margin-left: 55px;
    margin-right: 30px;
    padding: 4px 0;
    border: none;
    border-radius: 8px;
}

.input-form:focus{
    outline: none;
    box-shadow: 0 0 3pt 2pt #BFA2DB;
}


.fas{
    font-size: 30px;
    margin-right: 10px;
}

.users-form-container form  #cedula{
    margin-left: 136px;
}

.users-form-container form  #correo{
    margin-left: 56px;
}

.users-form-container form  #nombre{
    margin-left: 45px;
}

.users-form-container form #password{
    margin-left: 22px;
}

.users-form-container form .label-form, .users-form-container form .input-form{
    margin-bottom: 30px;
}

.button-container{
    display:flex;
    justify-content: center;
    width: 100%;
}

.button-form{
    display: inline-block;
    background-color: var(--main-color);
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight:500;
    margin-right: 20px;
    margin-top: 40px;
    width: 100px;
    color: var(--secondary-color-1);
    text-align: center;
    text-decoration: none;

}



.button-form:hover{
    background-color: #9e80ba;
}

